{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="static\image1.jpg" class="d-block w-100" alt="..." style="height: 500px;">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="static\image2.jpg" class="d-block w-100" alt="..." style="height: 500px;">
            </div>
            <div class="carousel-item">
                <img src="static\image3.jpg" class="d-block w-100" alt="..." style="height: 500px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid my-3">
    <h2 class="" style="font-family: 'Sofia', cursive; font-size:50px;">We saved you a seat</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="static\img1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Sofia', cursive; font-size:35px;">Online Courses</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="static\img2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Sofia', cursive; font-size:35px;">Offline Courses</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="static\img3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Sofia', cursive; font-size:35px;">Professional Courses</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}