{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>Our All Faculties</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Dept</th>
                <th>Photo</th>
            </tr>
        </thead>
        {% for i in members %}
    <tr>
        <td>{{i.fname}} {{i.lname}}</td>
        <td>{{i.age}}</td>
        <td>{{i.dept}}</td>
        <td><img src="{{i.image.url}}" alt="" height="100" width="80"></td>
    </tr>
    {% endfor %}
    </table>
</div>



    



    
    
    
    
    

{% endblock body %}